#about {
  display: none;
}

#about>div {
  width: 80vw;
  height: 60vh;
  background: orange;
  float: left;
  margin-top: 15vh;
  margin-left: 10vw;
}


#about ul {
  width: 80vw;
  height: 80vh;;
  float: left;
  margin-left: 10vw;
  margin-top: 10vh;
}

#about ul li {
  display: inline-block;
  float: left;
  height: 100%;
  width: 20vw;
  margin-left: 10vw;
  background: white;
}

#about ul>:first-child {
  margin-left: 0
}

#about ul img {
  width: 20vw;
  height: 20vw;
  background: black;
  float: left;
}

#about ul h2 {
  width: 20vw;
  float: left;
  height: 5vh;
  background: red;
  margin: 0;
  font-size: 5vh;
  text-align: center;
}

#about ul p {
  text-align: center;
  width: 100%
}
