#about {
  display: none;
}

#about>div {
  width: 80vw;
  background: #141414;
  float: left;
  margin-left: 10vw;
  margin-top: 5vh;
}


#about ul {

}

#about ul li {
  float: left;
  width: 80vw;
  margin-left: 10vw;
  background: #141414;
  margin-top: 5vh;
}


#about ul img {
  width: 30vw;
  height: 30vw;
  float: left;
}

#about ul h2 {
  width: 50vw;
  float: left;
  height: 5vmin;
  background: #141414;
  margin: 0;
  margin-top: 1vh;
  font-size: 2vh;
  text-align: center;
}
#about ul h4 {
  width: 50vw;
  float: left;
  height: 5vh;
  background: #141414;
  margin: 0;
  padding: 0;
  margin-top: 0.5vh;
  font-size: 1.5vh;
  text-align: center;
}

#about ul p {
  margin: 0;
  padding: 0;
  margin-top: 0.5vh;
  width: 100%;
  text-align: center;
  font-size: 1.25vh;
}

@media only screen and (min-width: 640px) {

  #about>div {
    margin-top: 10vh;
  }
  #about ul img{
    width: 15vw;
    height: 15vw;
  }

  #about ul h2 {
    width: 65vw;
    font-size: 4vh;
  }

  #about ul h4 {
    width: 65vw;
    font-size: 3vh;
  }

  #about ul p {
    font-size: 2.5vh;
  }

  footer {
    width: 100vw;
    height: 2vh;
    background: white;
    position: fixed;
    float: left;
    bottom: 0;
  }
}
