#about {
  display: none;
}

#about>div {
  width: 80vw;
  background: orange;
  float: left;
  margin-left: 10vw;
}


#about ul {

}

#about ul li {
  float: left;
  width: 10vh;
  width: 80vw;
  margin-left: 10vw;
  background: white;
  margin-top: 5vh;
}


#about ul img {
  width: 30vw;
  height: 30vw;
  background: black;
  float: left;
}

#about ul h2 {
  width: 45vw;
  float: left;
  height: 5vh;
  background: red;
  margin: 0;
  font-size: 5vh;
  text-align: center;
}

#about ul p {
  text-align: center;
  width: 100%
}
